@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.profile--photo {
  aspect-ratio: 292/343;
}

.projects--container {
  background-image: url("../../public/images/howls-castle.gif");
  background-size: cover;
  background-position: 50% 50%;
  height: fit-content;
}
